body{
    margin:0;
    background:#b7c9db;
    font-family:Times New Roman;
}

header{
    background:#35679c;
    text-align:center;
    padding:20px;
}

header h1{
    margin:0;
}

.container{
    display:flex;
}

nav{
    width:140px;
    background:#3d6a78;
    padding-top:30px;
}

nav ul{
    list-style:none;
}

nav li{
    margin:10px 0;
}

nav a{
    text-decoration:none;
    color:navy;
}

main{float: right;
    flex:1;
    background:#667f9a;
    padding:10px;
}

.title{
    background:#dfe7f0;
    border:3px solid #3d6a78;
    padding:10px;
}

.content{
    display:flex;
    margin-top:15px;
}

.content img{
    width:80px;
    height:100px;
    margin-right:10px;
}

h3{
    border-bottom:3px solid yellowgreen;
    color:white;
}

footer{
    background:#173d6b;
    color:white;
    text-align:center;
    padding:10px;
}